{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ image_file }}">
            <div class="media-body">
            <h2 class="account-heading">{{ restaurant[0] }}</h2>
            <p class="text-secondary">{{ restaurant[1] }}</p>
            <p class="text-secondary"><b>Cuisine: </b>{{ restaurant[2] }}</p>
            <p class="text-secondary"><b>Average cost for two: </b>{{ restaurant[3] }}</p>
            <p class="text-secondary"><b>Rating: </b>{{ restaurant[5] }}</p>
            </div>
        </div>
    </div>
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Book a Table </legend>
                <div class="form-group">
                    {{ form.noOfMembers.label(class="form-control-label") }}
                    {% if form.noOfMembers.errors %}
                        {{ form.noOfMembers(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.noOfMembers.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.noOfMembers(class="form-control form-control-lg") }}
                    {% endif %}
                </div>  
                <div class="form-group">
                    {{ form.date.label(class="form-control-label") }}
                    {% if form.date.errors %}
                        {{ form.date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.date(class="form-control form-control-lg") }}
                    {% endif %}
                </div>  
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            {% if 'user'  not in session %}
                <small class="text-muted ml-2">
                    <a href="{{url_for('userLogin')}}"">Login</a>
                </small>
            {% endif %}
        </form>
    </div>
{% endblock content %}
